// *{
//     background-color: rgb(215, 213, 211);
// }

.signin-sec{
    // background-color: rgb(171, 171, 171);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
   

}
.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid red;
    margin-left: 40rem;
    .img-fluid{
        height: 100%;
        max-width: 100%;
      }
      .form-colmn1{
        padding: 0;
      }
      .form-colmn2{
        // background-color: #c3c2c2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}
